/* footer section ⬇️*/
footer {
  background: var(--secondBgColor);
  padding: 40px 0;
}

#footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer-content p {
  width: 60%;
}

form {
  position: relative;
  display: block;
  margin: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#name-email-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#name-container,
#email-container,
#message-container {
  display: grid;
  width: 100%;
  gap: 10px;
}

#name,
#email,
#message {
  position: relative;
  padding: 12px 15px;
  outline: none;
  z-index: 12;
}

#message {
  height: 100px;
  width: 100%;
  resize: none;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  font-size: 14px;
}

.submit {
  position: absolute;
  background-color: var(--yellow);
  color: white;
  display: flex;
  right: 0;
  cursor: pointer;
  border-radius: 8px;
  margin: 25px 0;
  z-index: 12;
  width: 100%;
  justify-content: center;
}

.submit:hover {
  color: var(--yellow);
  background-color: white;
  border: 1px solid rgb(155, 155, 155);
  filter: drop-shadow(1.4);
}

/* social media */

.social-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 17px;
  width: 50%;
  margin: 109px auto;
  background: var(--lightBorder);
  border-radius: 58px;
}

.social-media a img {
  height: 55px;
  padding: 5px;
  transition: 0.3s;
  filter: hue-rotate(194deg);
}

/* linkedin */
.social-media a:first-child img {
  filter: hue-rotate(208deg);
}

/* instagram */
.social-media a:nth-child(3) img {
  filter: hue-rotate(29deg) saturate(0.5);
}

/* gamil */
.social-media a:nth-child(4) img {
  filter: hue-rotate(52deg) saturate(0.2);
}

/* whatsapp */
.social-media a:last-child img {
  filter: hue-rotate(277deg) saturate(0.3);
}

.social-media a img:hover {
  transform: scale(1.15);
  filter: none;
}

/* footer section ⬆️ */
