/* header section ⬇️ */
/* 
#navBarFix {
  position: relative;
  top: -106px;
  z-index: 20;
  transition: 1.3s;
  opacity: 0.3;
}

#header-section {
  position: relative;
  top: -500px;
  padding-top: 0;
  transition: 2s;
  opacity: 0;
}

nav#nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-top: 20px;
  border: 1px solid var(--mainBorder);
  border-radius: 50px;
  overflow: hidden;
}

.blur {
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  background: #ffffff42;
  filter: blur(42px);
  z-index: -1;
  backdrop-filter: blur(2px);
}

#logo {
  font-size: 18px;
  font-weight: 500;
}

#logo img {
  display: inline-flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
}

#menu #menuUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

#menu #menuUl .menuLi {
  position: relative;
  padding: 29px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

#menu #menuUl .menuLi a {
  transition: 0.3s;
}

#menu #menuUl a::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--yellow);
  transform: scaleX(0);
  transition: 0.3s;
}

#menu #menuUl .menuLi:hover a::after {
  transform: scaleX(1);
}

#menu #menuUl .menuLi:hover a:active {
  font-weight: 500;
}

#contact a {
  font-size: 18px;
  padding: 10px 15px;
  background: var(--yellow);
  color: var(--mainFontColor);
  font-weight: 600;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid var(--yellow-lite);
  overflow: hidden;
}

#contact a::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

#headerContent {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerContent #header-img {
  position: relative;
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 1px solid #78787880;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 12px 0 #cdcdcd85;
  background: white;
}

#header-img-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#headerContent #header-img img#profile {
  height: 450px;
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.8));
}

#headerContent #header-img #cloud1 {
  position: absolute;
  height: 300px;
  opacity: 0.4;
  z-index: -1;
  left: -151px;
  bottom: 0;
  animation: cloud1 2s infinite;
}

@keyframes cloud1 {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -10px;
  }
}

#headerContent #header-img #cloud2 {
  position: absolute;
  height: 300px;
  right: -151px;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  animation: cloud2 2.5s infinite;
}

@keyframes cloud2 {
  0% {
    right: -156px;
    top: 10px;
  }
  50% {
    right: -151px;
    top: 0;
  }
  100% {
    right: -156px;
    top: 10px;
  }
}

#headerContent #header-para {
  width: 43%;
  position: relative;
}

#headerContent #header-para h1 {
  font-size: 45px;
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.6));
  margin-bottom: 0;
}

#headerContent #header-para h2 {
  font-size: 30px;
  position: relative;
}

#headerContent #header-para h2 span {
  color: var(--yellow);
  transition: 1s;
}

#headerContent #header-para h2 span::before {
  content: 'Website Developer';
  animation: words 6s linear 4s infinite;
}

@keyframes words {
  1% {
    content: 'Websit Developer';
  }
  13% {
    content: 'Websi Developer';
  }
  16% {
    content: 'Webs Developer';
  }
  19% {
    content: 'We Developer';
  }
  22% {
    content: 'W Developer';
  }
  25% {
    content: 'Ja Developer';
  }
  28% {
    content: 'Jav Developer';
  }
  31% {
    content: 'Javas Developer';
  }
  34% {
    content: 'Javascr Developer';
  }
  37% {
    content: 'Javascript Developer';
  }
  40% {
    content: 'Javascript Develop';
  }
  43% {
    content: 'Javascript Devel';
  }
  46% {
    content: 'Javascript Dev';
  }
  49% {
    content: 'Javascript D';
  }
  51% {
    content: 'Javascript';
  }
  54% {
    content: 'Javascri';
  }
  57% {
    content: 'Javasc';
  }
  60% {
    content: 'Jav';
  }
  63% {
    content: 'J';
  }
  66% {
    content: 'Web';
  }
  69% {
    content: 'Websi';
  }
  72% {
    content: 'Website';
  }
  75% {
    content: 'Website Design';
  }
  78% {
    content: 'Website Designer';
  }
  91% {
    content: 'Website Designer';
  }
  94% {
    content: 'Website Designer';
  }
  97% {
    content: 'Website Deve';
  }
  100% {
    content: 'Website Developer';
  }
}

#headerContent #header-para h2 span::after {
  content: '';
  background: var(--mainFontColor);
  position: absolute;
  height: 100%;
  width: 0px;
  opacity: 0;
  border: 2px solid #b3b3b373;
  animation: blind 0.5s infinite;
}

@keyframes blind {
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

#headerContent #header-para p {
  color: var(--paraFontColor);
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.6));
}

#headerContent #header-para #contact {
  margin-top: 40px;
}

#headerContent #header-para #contact a {
  background: white;
  color: var(--yellow);
  box-shadow: 0px 0px 20px -6px #b4b4b4;
  border: 3px solid var(--yellow-lite);
} */
/* header section ⬆️ */
