@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainFontFamily: 'Open Sans', sans-serif;
  --mainFontColor: #101010;
  --paraFontColor: #3e3e3e;
  --mainBorder: #5f5f5f;
  --mainShadow: 2px 2px 13px 2px #e2d6d659;
  --lightBorder: #afafaf65;
  --mainBgColor: rgb(255 246 254 / 28%);
  --secondBgColor: rgb(232 220 231 / 8%);
  --primary: #fe5d37;
  --primaryHover: #fd7556;
  --primary-lite: #ffefeb;
  --green: #06ab5e;
  --deepGreen: #21813a;
  --deepGreen-lite: #bee1c7;
  --green-lite: #e8f3ee;
  --pink: #9b06ab;
  --pink-lite: #f3e8f1;
  --purple: #b907ff;
  --purple-lite: #f5dbff;
  --yellow: #ffc107;
  --yellow-sec: #ffecc8;
  --yellow-box: #ffd09b;
  --yellow-lite: #fff9e7;
  --blue: #0dcaf0;
  --red: rgb(240, 0, 0);
  --red-lite: rgb(255, 205, 205);
  --blue-lite: #e1f2f6;
}

body {
  font-family: var(--mainFontFamily);
  font-size: 16px;
  color: var(--mainFontColor);
  background: var(--mainBgColor);
  overflow-x: hidden;
}

section,
header {
  padding: 50px 0;
}

p {
  font-weight: 500;
}

h1#section-tittle {
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 2.5rem;
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.29));
}

.wrapper {
  width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cursor {
  position: absolute;
  background: url(../images/cloud-cursor.png);
  height: 88px;
  width: 99px;
  left: -50px;
  top: -50px;
  transition: 0.1s ease;
  transform: scale(0.7);
}

.btn {
  font-size: 18px;
  padding: 10px 15px;
  background: white;
  color: var(--yellow);
  font-weight: 600;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid var(--yellow-lite);
}

.btn:hover {
  background: var(--yellow);
  color: var(--mainFontColor);
  font-weight: 600;
  border-radius: 50px;
}

.social-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 17px;
  width: 50%;
  margin: 109px auto;
  background: var(--lightBorder);
  border-radius: 58px;
}

.social-media a img {
  height: 55px;
  padding: 5px;
  transition: 0.3s;
  filter: hue-rotate(194deg);
}

/* linkedin */
.social-media a:first-child img {
  filter: hue-rotate(208deg);
}

/* instagram */
.social-media a:nth-child(3) img {
  filter: hue-rotate(29deg) saturate(0.5);
}

/* gamil */
.social-media a:nth-child(4) img {
  filter: hue-rotate(52deg) saturate(0.2);
}

/* whatsapp */
.social-media a:last-child img {
  filter: hue-rotate(277deg) saturate(0.3);
}

.social-media a img:hover {
  transform: scale(1.15);
  filter: none;
}

a {
  color: var(--mainFontColor);
  text-decoration: none;
}

li {
  list-style: none;
}

/* 2xl */
@media (max-width: 1536px) {
  .wrapper {
    width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .wrapper {
    width: 1024px;
  }
  #service-cards .service-card {
    height: 286px;
  }
}

/* lg */
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .wrapper {
    width: 980px;
  }
  #menu #menuUl {
    gap: 9px;
  }
}

@media (max-width: 980px) {
  .wrapper {
    width: 768px;
  }
  #headerContent {
    flex-direction: column;
  }
  #headerContent #header-para {
    width: 80%;
  }
  #service-cards {
    flex-direction: column;
  }
  #service-cards .service-card {
    height: fit-content;
    width: 528px;
  }
}

/* md */
@media (max-width: 768px) {
  .wrapper {
    width: 640px;
  }
  nav#nav {
    transform: scale(1.05);
  }
  #service-cards {
    gap: 127px;
    margin-top: 60px;
  }
  #service-cards .service-card {
    transform: scale(1.3);
  }
  #service-cards .service-card:hover {
    transform: scale(1.37);
  }
  #benefits-wrap {
    gap: 101px;
  }
  #benefits-wrap .benefits-card {
    transform: scale(1.3);
  }
}

/* sm */
@media (max-width: 640px) {
  .wrapper {
    width: 475px;
  }
  .cursor {
    display: none;
  }
}

/* xs */
@media (max-width: 475px) {
  .wrapper {
    width: 100%;
  }
}
