@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainFontFamily: 'Open Sans', sans-serif;
  --mainFontColor: #101010;
  --paraFontColor: #3e3e3e;
  --mainBorder: #5f5f5f;
  --mainShadow: 2px 2px 13px 2px #e2d6d659;
  --lightBorder: #afafaf65;
  --mainBgColor: rgb(255 246 254 / 28%);
  --secondBgColor: rgb(232 220 231 / 28%);
  --primary: #fe5d37;
  --primaryHover: #fd7556;
  --primary-lite: #ffefeb;
  --green: #06ab5e;
  --deepGreen: #21813a;
  --deepGreen-lite: #bee1c7;
  --green-lite: #e8f3ee;
  --pink: #9b06ab;
  --pink-lite: #f3e8f1;
  --purple: #b907ff;
  --purple-lite: #f5dbff;
  --yello: #ffc107;
  --yello-lite: #fff9e7;
  --blue: #0dcaf0;
  --red: rgb(240, 0, 0);
  --red-lite: rgb(255, 205, 205);
  --blue-lite: #e1f2f6;
}

body {
  font-family: var(--mainFontFamily);
  font-size: 16px;
  color: var(--mainFontColor);
  background: var(--mainBgColor);
  overflow-x: hidden;
}

section,
header {
  padding: 50px 0;
}

h1#section-tittle {
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 2.5rem;
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.29));
}

.wrapper {
  width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.social-media {
  padding: 20px 0;
  display: flex;
  gap: 17px;
  left: -2px;
  position: relative;
}
.social-media a img {
  height: 55px;
  padding: 5px;
  transition: 0.3s;
}

.social-media a img:hover {
  transform: scale(1.15);
}

a {
  color: var(--mainFontColor);
  text-decoration: none;
}

li {
  list-style: none;
}

/* header section ⬇️ */

header {
  padding-top: 20px;
}

nav#nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border: 1px solid var(--mainBorder);
  border-radius: 50px;
  z-index: 20;
}

#logo {
  font-size: 18px;
  font-weight: 500;
}

#logo img {
  display: inline-flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
}

#menu #menuUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

#menu #menuUl .menuLi {
  position: relative;
  padding: 29px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

#menu #menuUl .menuLi a {
  transition: 0.3s;
}

#menu #menuUl .menuLi:hover a::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
}

#menu #menuUl .menuLi:hover a:active {
  font-weight: 500;
}

#contact a {
  font-size: 18px;
  padding: 10px 15px;
  background: black;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid transparent;
}

#contact a:hover {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(60deg, #00f, #00e8ff) border-box;
  /* padding: 12px 17px; */
}

#headerContent {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerContent #header-img {
  position: relative;
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 1px solid #78787880;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 12px 0 #cdcdcd85;
  background: white;
}

#header-img-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#headerContent #header-img img#profile {
  height: 450px;
  /* -webkit-mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.2)); */
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.8));
}

#headerContent #header-img #cloud1 {
  position: absolute;
  height: 300px;
  opacity: 0.4;
  z-index: -1;
  left: -151px;
  bottom: 0;
  animation: cloud1 2s infinite;
}

@keyframes cloud1 {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -10px;
  }
}

#headerContent #header-img #cloud2 {
  position: absolute;
  height: 300px;
  right: -151px;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  animation: cloud2 2.5s infinite;
}

@keyframes cloud2 {
  0% {
    right: -156px;
    top: 10px;
  }
  50% {
    right: -151px;
    top: 0;
  }
  100% {
    right: -156px;
    top: 10px;
  }
}

#headerContent #header-para {
  width: 43%;
}

#headerContent #header-para h1 {
  font-size: 45px;
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.6));
  margin-bottom: 0;
}

#headerContent #header-para p {
  color: var(--paraFontColor);
  mask-image: linear-gradient(#000, rgb(0, 0, 0, 0.6));
}
/* header section ⬆️ */

/* skills section ⬇️ */
#skills-section {
  background: var(--secondBgColor);
}

#skills-wrap {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 85%;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  margin-bottom: 80px;
}

#skills-wrap .skill-box img {
  height: 90px;
  cursor: pointer;
  animation: skillBox 1s infinite;
  transition: 0.3s;
}

#skills-wrap .skill-box img:hover {
  transform: scale(1.15);
}

#skills-wrap .skill-box:nth-child(2) img {
  height: 110px;
}

#skills-wrap .skill-box:nth-child(2) img:hover {
  height: 115px;
}

#skills-wrap .skill-box:last-child img {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  padding: 2px;
}
/* skills section ⬆️ */

/* services section ⬇️ */

#service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 41px;
}

#service-cards .service-card {
  position: relative;
  display: grid;
  gap: 20px;
  border: 1px solid var(--lightBorder);
  padding: 19px;
  border-radius: 8px;
  background: var(--primary-lite);
  width: 300px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--mainShadow);
}

#service-cards .service-card:nth-child(2) {
  background: var(--green-lite);
}

#service-cards .service-card:last-child {
  background: var(--blue-lite);
}

#service-cards .service-card:hover {
  transform: scale(1.05);
}

#service-cards .service-card:first-child:hover {
  background: var(--primaryHover);
  color: white;
}

#service-cards .service-card:nth-child(2):hover {
  background: var(--green);
  color: white;
}

#service-cards .service-card:last-child:hover {
  background: var(--blue);
  color: white;
}

#service-cards .service-card img {
  height: 70px;
}

#service-cards .service-card:first-child img {
  height: 60px;
}

#service-cards .service-card p {
  margin-bottom: 20px;
}

#service-cards .service-card #contact {
  position: absolute;
  right: 0;
  bottom: 0;
}

#service-cards .service-card #contact a {
  background: white;
  color: black;
  border: 1px solid var(--mainBorder);
}

#service-cards .service-card:hover #contact a,
#service-cards .service-card #contact a:hover {
  background: black;
  color: white;
  border: 1px solid rgb(84, 84, 84);
}

/* services section ⬆️ */

/* benefits section ⬇️ */
#benefits-section {
  background: var(--secondBgColor);
}

#benefits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

#benefits-content #benenits-text h2 {
  font-size: 40px;
}

#benefits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

#benefits-wrap .benefits-card {
  width: 219px;
  height: 150px;
  background: var(--yello-lite);
  padding: 20px;
  cursor: pointer;
  border: 1px solid var(--lightBorder);
  border-radius: 8px;
  box-shadow: var(--mainShadow);
  transition: 0.3s;
}

#benefits-wrap .benefits-card:hover {
  transform: scale(1.03);
}

#benefits-wrap .benefits-card:nth-child(1),
#benefits-wrap .benefits-card:nth-child(6) {
  background: #e1f0e9;
}

#benefits-wrap .benefits-card:nth-child(2) {
  background: #ffe6df;
}

#benefits-wrap .benefits-card:nth-child(4) {
  background: #d2e5ea;
}

#benefits-wrap .benefits-card:nth-child(5) {
  background: #f6ddf1;
}

#benefits-wrap .benefits-card:nth-child(6) {
  background: var(--deepGreen-lite);
}

#benefits-wrap .benefits-card:nth-child(7) {
  background: #e7cbf2;
}

#benefits-wrap .benefits-card:nth-child(8) {
  background: var(--red-lite);
}

#benefits-wrap .benefits-card img {
  height: 60px;
  margin-bottom: 11px;
}

#benefits-wrap .benefits-card p {
  color: #353535;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  bottom: -8px;
}
/* benefits section ⬆️ */

/* about section ⬆️ */
#about-section #section-tittle {
  margin-bottom: 90px;
}

#about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#about-content #about-text {
  width: 50%;
  display: grid;
  gap: 10px;
}

#about-content #about-text h1 {
  font-size: 58px;
  line-height: 60px;
  margin-bottom: 10px;
}

#about-content #about-text p {
  color: gray;
}

#about-content #about-text span {
  color: gray;
}

#about-content #about-img-wrap {
  border: 1px solid var(--lightBorder);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

#about-content #about-img-wrap img {
  height: 533px;
  position: relative;
  bottom: -66px;
}
/* about section ⬆️ */

/* footer section ⬇️*/
footer {
  background: var(--secondBgColor);
  padding: 40px 0;
}

footer .wrapper .social-media {
  display: inline;
}

footer .wrapper .social-media a img {
  height: 50px;
}

#footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer-content p {
  width: 60%;
}

#clone {
  font-size: 58px;
  color: gray;
  padding: 0 17px 0 0px;
}
/* footer section ⬆️ */

/* 2xl */
@media (max-width: 1536px) {
  .wrapper {
    width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .wrapper {
    width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .wrapper {
    width: 768px;
  }
  #menu #menuUl {
    gap: 9px;
  }
  #about-content #about-text {
    width: 86%;
  }
}

/* md */
@media (max-width: 768px) {
  .wrapper {
    width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .wrapper {
    width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .wrapper {
    width: 100%;
  }
}
